@charset "UTF-8";

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

header {
  background-color: rgb(31, 132, 255);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  max-width: 1920px;
  min-width: 366px;
}

header h1 {
  margin: 20px;
  padding: 10px;
}

header p {
  text-align: center;
  margin: 20px;
  font-size: 16px;
  padding-bottom: 64px;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12pt;
}

header nav {
 text-align: left;
 margin: 4px;
 padding-bottom: 10px;
}

header nav a:hover {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(31, 132, 255);
  padding: 8px;
  border-radius: 5px;
}

main {
  max-width: 1920px;
  min-width: 366px;
}

main div.quadrado {
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.223);
  width: 310px;
  height: 159px;
  display: inline-block;
  text-align: center
}

main div.quadrado#q1 h2 {
  text-align: justify;
  color: rgba(255, 0, 170, 0.532);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
}

main div.quadrado#q1 p {
  text-align: center;
  color: rgba(107, 255, 97, 0.489);
  font-size: 27pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

