@charset "UTF-8";


body {
  background-image: linear-gradient(to right, rgb(134, 237, 255), rgb(0, 134, 134));
}

header {
  height: 210px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

header h1 {
  margin: 0px;
  font-size: 50px;  
}